<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jureumuing.nolhac.repository.ChallengePostingRepository">

    <insert id="insert"
            parameterType="ChallengePostingEntity"
            useGeneratedKeys="true"
            keyProperty="challengePostingId"
            keyColumn="challenge_posting_id">
        INSERT INTO challenge_posting (user_id, challenge_id, datetime, proving_image, proving_video, like_count)
        VALUES (#{userId}, #{challengeId}, now(), #{provingImage}, #{provingVideo}, #{likeCount});
    </insert>

    <select id="select"
            resultType="ChallengePostingEntity">
        SELECT challenge_posting_id, challenge_id, datetime, proving_image, proving_video, like_count, user_id
          FROM challenge_posting
         WHERE challenge_posting_id = #{challengePostingId};
    </select>

    <select id="selectByChallengeId"
            resultType="ChallengePostingEntity">
        SELECT challenge_posting_id, challenge_id, datetime, proving_image, proving_video, like_count, user_id
          FROM challenge_posting
         WHERE challenge_id = #{challengeId};
    </select>

    <select id="selectByUserId"
            resultType="ChallengePostingEntity">
        SELECT challenge_posting_id, challenge_id, datetime, proving_image, proving_video, like_count, user_id
        FROM challenge_posting
        WHERE user_id = #{userId};
    </select>

    <update id="update"
            parameterType="ChallengePostingEntity"
            useGeneratedKeys="true"
            keyProperty="challengePostingId"
            keyColumn="challenge_posting_id">
        UPDATE challenge_posting
           SET challenge_id = #{challengeId},
                   datetime = #{datetime},
                    user_id = #{userId},
                 like_count = #{likeCount},
              proving_image = #{provingImage},
              proving_video = #{provingVideo}
         WHERE challenge_posting_id=#{challengePostingId};
    </update>

</mapper>

