<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jureumuing.nolhac.repository.ChallengePostingRepository">

    <select id="selectByChallengeId"
            resultType="ChallengePostingEntity">
        SELECT challenge_posting_id, challenge_id, datetime, proving_image, proving_video, like_count, user_id
          FROM challenge_posting
         WHERE challenge_id = #{challengeId};
    </select>

</mapper>
