<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jureumuing.nolhac.repository.ChallengeRepository">
    <insert id="insert"
            parameterType="ChallengeEntity"
            useGeneratedKeys="true"
            keyProperty="challengeId"
            keyColumn="challenge_id">
        INSERT INTO challenge (title, when_content, where_content, what_content, how_content, count, user_id)
        VALUES (#{title}, #{when}, #{where}, #{what}, #{how}, #{count}, #{user_id});
    </insert>

    <select id="select"
            resultType="ChallengeEntity">
        SELECT challenge_id, title, when_content, where_content, what_content, how_content, count, user_id
          FROM challenge
         WHERE challenge_id = #{challengeId};
    </select>

    <select id="selectByChallengeTitle"
            resultType="ChallengeEntity">
        SELECT challenge_id, title, when_content, where_content, what_content, how_content, count, user_id
        FROM challenge
        WHERE title = #{title};
    </select>

    <select id="selectAll"
            resultType="ChallengeEntity">
        SELECT challenge_id, title, when_content, where_content, what_content, how_content, user_id
          FROM challenge
    </select>

    <update id="updateCount"
            parameterType="ChallengeEntity"
            useGeneratedKeys="true"
            keyProperty="challengeId"
            keyColumn="challenge_id">
        UPDATE challenge
           SET count = #{count}
         WHERE challenge_id = #{challengeId}
    </update>

</mapper>
